/* EagleSoftworks
2018 Diffusion Simulation Styles */

* {
    padding: 0;
    margin: 3px;
}

body {
    background-color: #232326;
}

div {
    margin: 0;
}

h1 {
    margin: 0;    
    color: white;
    /*this margin somehow goes outside the div, h2 doesn't*/
}

h2 {
    margin: 5px;
    color: white;
}

p {
    color: black;
    font-size: 18px;
}

button {
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    font-weight: bold;
    border-width: 3px;
    border-radius: 15px;
    margin-bottom: 5px;
}

#mainPage {
    width: 1030px;
    min-height: 635px;
    text-align: center;
    margin: 0 auto;
}

#titleCanvasDiv {
    width: 760px;
    min-height: 625px;
    float: left;
}

#titlesDiv {
    height: 125px;
    max-height: 125px;
}

.border {
    border-width: 2px; 
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
}

#myCanvas {
    background-color: white;
    margin: 0;
}

#buttonShelf {
    width: 255px;
    min-height: 625px;
    background-color: white;
    text-align: center;
    float: right;
    margin: 0;
}

.row {
    width: 245px;
    float: left;
    margin-top: 20px;
}

#timer-input {
    width: 80px;
    height: 30px;
    margin: 3px 20px 10px 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}